<footer class="text-white mt-8 py-2 lg:py-6 px-8" style="background-color: var(--cor-logo);">
  <div class="mt-12 grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
    <div class="md:grid md:grid-cols-3 md:gap-8">
      <div class="text-center border-b pb-4 lg:pb-0 border-gray-700 lg:border-b-0 lg:border-r lg:border-gray-700 pr-4">
        <h3 class="text-md font-bold text-gray-50 tracking wider uppercase ">
          Quick Links
        </h3>
        <ul class="mt-4 space-y-4">
          <li>
            <%= link_to "Home", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
          <li>
            <%= link_to "Shop", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
          <li>
            <%= link_to "Contact Us", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
        </ul>
      </div>
      <!--categories -->
      <div class=" mt-8 text-center border-b pb-4 lg:pb-0 border-gray-700 lg:border-b-0 lg:border-r lg:border-gray-700 pr-4">
        <h3 class="text-md font-bold text-gray-50 tracking wider uppercase">
          Categories
        </h3>
        <ul class="mt-4 space-y-4">
          <% @main_categories.each do |category| %>
            <li>
              <%= link_to category.name, category_path(category), class: "text-base leading-6 text-white hover:text-gray-100" %>
            </li>
          <% end %>
        </ul>
      </div>
      <!--social  media -->
      <div class=" mt-8 text-center border-b pb-4 lg:pb-0 border-gray-700 lg:border-b-0 lg:border-gray-700 pr-4">
        <h3 class="text-md font-bold text-gray-50 tracking wider uppercase">
          Social Media
        </h3>
        <ul class="mt-4 space-y-4">
          <li>
            <%= link_to "LinkedIn", "https://www.linkedin.com/in/vitormiguelrosaportela/", class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
          <li>
            <%= link_to "GitHub", "https://github.com/VitorMiguelRosa", class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
          <li>
            <%= link_to "Instagram", "https://www.instagram.com/a13m40/", class: "text-base leading-6 text-white hover:text-gray-100" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--copyright -->
  <div class="lg:border-t lg:border-gray-700 mt-8 pt-6 justify-center text-center">
    <p class="text-sm text-gray-900">
      &copy; <%= Time.now.year %> AlemaoDev. All rights reserved.
    </p>
  </div>
</footer>