<div class="min-h-[60vh] flex flex-col lg:flex-row justify-center">
  <div class="flex flex-wrap flex-col mt-6">
    <h2 class="text-xl text-black ">
      Filter
      <%= icon("fa-filter", 'solid') %><br/>
    </h2>
    <%= form_with url: category_path(@category), method: :get, class: "flex flex-col"  do |form| %>
      <%= form.number_field :min, placeholder: "Min Price", class: "border border-gray-800 rounded-md p-2 w-32" %>
      <%= form.number_field :max, placeholder: "Max Price", class: "border border-gray-800 rounded-md p-2 mt-2 w-32" %>
      <%= form.submit "Filter", class: "bg-(--cor-logo) hover:bg-(--cor-logo-hover) text-white rounded-md p-2 mt-2 cursor-pointer" %>
    <% end %>
    <%= form_with url: category_path(@category), method: :get, class: "flex flex-col" do |form| %>
      <%= form.submit "Clear", class: "bg-(--cor-logo) hover:bg-(--cor-logo-hover) text-white rounded-md p-2 mt-2 cursor-pointer" %>
    <% end %>
  </div>
  <div class="flex flex-wrap mt-6 gap-10 flex-grow justify-center items-start">
    <% if @products.empty? %>
      <p class="text-2xl text-left text-black">No products found in this category.</p>
    <% else %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="max-w-sm flex flex-col p-4 justify-center items-center">
            <%= product.images.first ? image_tag(product.images.first.variant(:medium), class: "rounded") : image_tag("placeholder.png", class: "rounded") %>
          </div>
          <div class="max-w-sm flex flex-col p-4 justify-center items-center">
            <h3 class="text-lg font-semibold text-black">
              <%= product.name %>
            </h3>
            <p class="text-gray-600">
              <%= product.description %>
            </p>
            <p class="text-xl font-bold text-(--cor-logo)">
              R$<%= (product.price / 100.0).to_s %>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>